/*-----------------------
    Error 404 Page
-----------------------*/
.error-content{
    padding: 170px 0;
    .title{
        letter-spacing: 20.16px;
        margin-top: 30px;
        margin-bottom: 65px;
        color: $white;
    }
}