.slider-area-2{
    background-color: transparent;
}
.slider-title{
    max-width: 630px;
    color: $white;
}
.slider-para{
    color: $white;
}
.slider-area-2 .slider-para{
    color: $svColor;
}
.slider-content{
    padding-top: 80px;
    height: 100vh;
    display: flex;
    align-items: center;
}
.home-slider .slider-item {
    background-size: cover;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: #000000;
        opacity: 0.05;
        z-index: 9;
    }
}
.slider-img {
    max-width: 890px;
}
.slider-thumb-wrapper {
    position: absolute;
    right: 0;
    top: auto;
    bottom: 0;
    width: 59%;
    height: 20%;
    background-image: unset;
    background-color: $white;
    z-index: 999;
    padding: 30px 30px 0;
    overflow: hidden;

    &.thumb-wrap-2{
        right: -60px;
        height: auto;
    }
}
.slider-area::after { 
    background: rgba(#2A2A2A, 0.9);
}
.slider-area-2::after { 
    background: rgba(#8A5631, 1);
    width: 55%;
}
.slick-slider {
    z-index: 99;
}
.slider-dots-wrapper {
    .slick-dots {
        margin: 0;
        padding: 0;
    }
    button {
        border: none;
        outline: none;
        background: transparent;
        padding: 10px;
        color: $white;
        font-size: 26px;
        font-weight: 700;
        font-family: var(--heading-font);
        cursor: pointer;
        @include transition($transition);
    }
    .slick-active button{
        color: var(--primary-color);
        position: relative;
        margin-bottom: 50px;
        &::before{
            content: "";
            position: absolute;
            left: 50%;
            top: 100%;
            width: 2px;
            height: 54px;
            background: var(--primary-color);
            transform: translate(-50%);
        }
    }
}
.slider-area {
    position: relative;
    .social-link {
        border: 1px solid #fff;
        background: #fff;
        color: #333333;
    }
}
.slider-dots-wrapper {
    position: absolute;
    right: 10px;
    z-index: 9999;
    top: 50%;
    right: 130px;
    margin-top: -100px;
}
.social-share-absolute {
    position: absolute;
    bottom: 70px;
    right: 130px;
    z-index: 999;
}
.social-link {
    display: inline-block;    
    width: 36px;
    height: 36px;
    line-height: 36px;
    background: transparent;
    color: var(--paragraph-2-color);
    border: 1px solid rgba(#2E1E52, 0.3);
    border-radius: 100%;
    text-align: center;
    @include transition($transition);
    + .social-link{
        margin-left: 5px;
    }
    &:hover,
    &:active,
    &.active{
        border-color: var(--primary-color);
        background: var(--primary-color);
        color: $white;
    }
}
.scrolldown-absolute {
    z-index: 999;
    bottom: 0;
    right: -11px;

    color: var(--secondary-color);
    a{
        font-family: var(--heading-font);
        color: var(--secondary-color);
        position: relative;
        z-index: 9999;
        &:before {
            content: "";
            position: absolute;
            background: $white;
            width: 226px;
            height: 500%;
            top: 50%;
            left: -24px;
            transform: translateY(-50%);
            z-index: -1;
        }
    }
}
.scrolldown {
    @include rotate (90);
}
.slider-thumb-inner{
    position: relative;
}
.slider-content-box{    
    @include dFlex($flex);
    @include justCont(center);
}
.slider-content-wrap {
    position: relative;
    z-index: 99;
}
.slider-btn {
    @include dFlex($flex);
    @include alignItem(center);

    .video-active{
        color: $white;
        margin-left: 30px;
        @include dFlex($flex);
        @include alignItem(center);

        i{
            background: transparent;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            font-size: 12px;
            border: 1px solid #fff;
        }
        span{
            letter-spacing: 3.64px;
        }
    }
}
.slider-arrow-wrapper {
    position: absolute;
    left: 20%;
    bottom: 5%;
    z-index: 99;
}
.arrow-prev,
.arrow-next,
.slider-2-pagination-wrapper {
    display: inline-block !important;
    i{
        color: var(--paragraph-2-color);
    }
    &:hover i{
        color: var(--paragraph-1-color);
    }
}
.slider-area-2 .scrolldown-absolute {
    bottom: 32%;
    right: -40px;
}
.slider-area-2 .scrolldown a,
.slider-area-2 .scrolldown p {
    color: #fff;
    letter-spacing: 3.5px;
    position: relative;    
    z-index: 999;
}
.slider-area-2 .scrolldown:before {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.05);
    width: 65px;
    height: 65px;
    border-radius: 100%;
    top: 50%;
    left: -30px;
    @include transform(translateY(-50%));
}
.slider-area-2 .scrolldown:after {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 1);
    width: 32px;
    height: 1px;
    top: 50%;
    right: -40px;
    @include transform(translateY(-50%));
}
.slider-area-2{
    > div {
        height: inherit;
    }
    .slider-thumb-wrapper {
        background-color: #7A4A29;
        width: 38%;
        padding: 35px 30px 0;
    }
    .slider-content-wrap{
        background-image: url(../img/slider/law.png);
        background-repeat: no-repeat;
        background-size: 35%;
        background-position: top 100px left 40px;
        height: inherit;
        @include dFlex($flex);
        @include alignItem(center);
    }
    .slider-content {
        padding-top: 150px;
    }
    .social-share-absolute {
        top: 0%;
        right: auto;
        left: 0;
        height: 100%;
        width: 70px;
        background: var(--background-1);

        .social-link{
            display: block;
            margin-left: 0;
            margin-top: 20px;
        }
        .scrolldown {
            padding: 0;
            width: 170px;

            p{
                color: var(--primary-color);
            }
            &:after {
                background: var(--primary-color);
            }
        }
    }
}
.social-sidebar {
    position: relative;
    z-index: 999;
    @include dFlex($flex);
    @include justCont(center);
    @include alignItem(center);
    height: 100%;
    flex-direction: column;

    .social-share {
        margin-top: 115px;
    }
    .scrolldown:after {
        right: -15px;
    }
}
.slider-thumb-inner-2 {
    overflow: hidden;
    position: relative;
}
.slider-area-2 .scrolldown-absolute {
    top: auto;
    right: 0;
}
.slider-area-2 .scrolldown-absolute a:before{
    display: none;
}
.slider-area-2 .slider-thumb {
    background-color: $white;
    @include dFlex($flex);
    @include justCont(center);
}
