/*--------------------------------------------------------------
	## Header
--------------------------------------------------------------*/
.header-absolute {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 18px 0 20px;
  z-index: 9999;
  background-color: #3e5e66;
}

.logo-mobile, .logo-sticky {
  display: none; }

.header-area.sticky {
  position: fixed;
  top: 0;
  background-color: #3e5e66;
  width: 100%;
  background-color: #333;
  z-index: 9999; }
  .header-area.sticky .logo-sticky {
    display: block; }
  .header-area.sticky .sticky-hide {
    display: none; }
